/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: #DEDFE2;
  font-family: sans-serif;
  overflow: hidden;

}

.logo{
  width: 150px;
}

.container {
  margin: 2% !important;
  background: #E8E9E9 !important;
}

.inLineImage{
  width: 150px;
}

.uk-input{
  padding: 5px !important;
  margin: 2px !important;
  background-color: rgba(208, 209, 212, 1);
}
.loginContainer{
  justify-content: center;
  align-items: center;
}

.collegeNameLogin{
  align-items: center;
  justify-content: center;
}

.loginText{
  border-radius: 5% !important;
  stroke: 5px;
}

.sidemenu{
  background: #BFBFC8 !important  ;
  margin: 0% !important;
  padding-left: 0% !important;


}
.marginZero{
  padding-top : 0% !important;
  padding-bottom: 0% !important;
}

span{
  vertical-align: top !important;
}

.sideMenuBar{
  margin-top: 5% !important;
  margin: 0% !important;
}
.sideMenuBar li{
  margin: 3% !important;
}

li{
  font-size: 18px !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin-left: 0% !important;
  padding: 3% !important;
  cursor: pointer;
  color: black !important;
}

.black{
  color: black !important;
}
.secondMenu{
  margin-top: 125px !important;
}

.uk-active{
  background: white !important;
  padding: 3% !important;
  margin-left: 0% !important;

}

.ctrls{
  text-align: right;

}

.ctrlIcon{
  align-items: end !important;
  margin: 0% !important;
  padding: 0% !important;
  stroke: 0px !important;
}

.statusMsg{
  font-size: 12px !important;
  font-style: italic;
}

.uk-card{
  stroke: black;
  stroke-width: 2px;
}

.statusBarPadding{
  padding: 15px !important;
}

.uiTabs li {
  margin: 0% !important;
  padding: 0px !important;
}

.uiTabs a {
  font-size: 10px !important;
}

.uk-button-primary{
  background-color: #b1b4b5FF !important;
  padding-inline: 2% !important;

}

.uk-switcher li{
  background-color: #E8E9E9 !important;
  justify-content: center ;
  padding: 0% !important;
  margin: 0% !important ;
}

.uk-switcher ul{
  padding: 0% !important;
  margin: 0% !important ;
}

th{
  font-weight: bold !important;
}

.uk-table td {
  padding: 0% !important;
}

.create div{
  font-size: 12px !important;
  color: red;
  text-decoration: underline;
}
.create1 div{
  font-size: 14px !important;

}

.linker{
  font-size: 12px !important;
  color: red;
  text-decoration: underline;
}

.search{
  border-radius: 25px !important;
}

.cre{
  padding: 2% !important;
  padding-inline: 9px !important;
  font-size: 12px !important;
  border-radius: 15px !important;
  color: black !important;
}


nav{
  -webkit-app-region: drag;
}
.ctrlIcon {
  z-index: 50;

}

@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';


.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
}

.rwd-table tr {
  border-top: 1px solid;
  border-bottom: 2px solid;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

.red{
  color: red !important;
}

.upCome{
  position: relative;
  z-index: 2;
}
.uk-text{
  background-color: rgba(208, 209, 212, 0.588) !important;
  color: #d0d1d4FF;
}

.inputData{
  margin-top: 0 !important;
}

.uk-width-1-1{
  margin-top: 0 !important;

}

.upTop{
  z-index: 10 !important;
}

.accounts{
  font-size: 13px;
}
