/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: #DEDFE2;
  font-family: sans-serif;
  overflow: hidden;

}

.logo{
  width: 150px;
}

.container {
  margin: 2% !important;
  background: #E8E9E9 !important;
}

.inLineImage{
  width: 150px;
}

.uk-input{
  padding: 5px !important;
  margin: 2px !important;
  background-color: rgba(208, 209, 212, 1);
}
.loginContainer{
  justify-content: center;
  align-items: center;
}

.collegeNameLogin{
  align-items: center;
  justify-content: center;
}

.loginText{
  border-radius: 5% !important;
  stroke: 5px;
}

.sidemenu{
  background: #BFBFC8 !important  ;
  margin: 0% !important;

}
.marginZero{
  padding-top : 0% !important;
  padding-bottom: 0% !important;
}

span{
  vertical-align: top !important;
}

.sideMenuBar{
  margin-top: 25px !important;
}

li{
  font-size: 18px !important;
  font-weight: bold;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin-left: 0% !important;
  padding: 3% !important;
  cursor: pointer;
  color: black !important;
}

.black{
  color: black !important;
}
.secondMenu{
  margin-top: 125px !important;
}

.uk-active{
  background: white !important;
  padding: 3% !important;
  margin-left: 0% !important;
}

.ctrls{
  text-align: right;

}

.ctrlIcon{
  align-items: end !important;
  margin: 0% !important;
  padding: 0% !important;
  stroke: 0px !important;
}
